#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
}

#hero-msg h1{
    text-align: center;
}

#hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background{
    height: 725px;
    background-color: blue;
}

body{
    background-color: blue;
}

header{
    background-color: blue;
}

nav a:hover{
    background-color: blue;
}

.book{
    background-color: blue;
}

.book:hover{
    background-color: blue;
}

.join{
    background-color: blue;
}

.join:hover{
    background-color: blue;
}

.msg{
    background-color: blue;
}

footer{
    background-color: blue;    
}