nav a{
    text-align: center;
    color: red;
}

main section{
    text-align: center;
}

body{
    background-color: blue;
}

header{
    background-color: blue;
}

nav a:hover{
    background-color: blue;
    color: red;
}

footer{
    background-color: blue;    
}

footer a{
    color: red;
}

footer a:hover{
    columns: red;
}

h4{
    color: red;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

#hero-msg h1{
    text-align: center;
}

#hero-msg h4{
    text-align: center;
}

#background{
    height: 725px;
    background-color: blue;
}

.button-box{
    text-align: center;
}

.book{
    background-color: blue;
}

.book:hover{
    background-color: blue;
    color: red;
}

.join{
    background-color: blue;
}

.join:hover{
    background-color: blue;
    columns: red;
}

.msg{
    background-color: blue;
}

.msg h2{
    color: red;
}

.msg p{
    color: red;
}

.home-title{
    columns: red;
}